<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020184882739-e2jlot7eevdspo49oao096i8ovm7er2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020184882739-e2jlot7eevdspo49oao096i8ovm7er2l</string>
	<key>API_KEY</key>
	<string>AIzaSyA87hU6k9OfOu_wydExyuG1ZAkHdKGuNsA</string>
	<key>GCM_SENDER_ID</key>
	<string>1020184882739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.creuroja.app</string>
	<key>PROJECT_ID</key>
	<string>creu-roja-ffeb2</string>
	<key>STORAGE_BUCKET</key>
	<string>creu-roja-ffeb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020184882739:ios:0f3ec79dbd5dfed34ebd46</string>
	<key>DATABASE_URL</key>
	<string>https://creu-roja-ffeb2.firebaseio.com</string>
</dict>
</plist>