@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/Futura-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/Futura-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/Futura-Bold.ttf');
    font-weight: 700;
}