<ion-header translucent="true">
  <ion-toolbar>
    <ion-title><img src="assets/icon/logo_cr.png"></ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button [routerLink]="['/onboarding']">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="home">
    <div class="home-balance ion-padding">
      <div class="home-balance-item">
        <p> {{ 'home.balance' | translate }} </p>
        <h2>
          {{ balance }}€
        </h2>
      </div>
    </div>
    <ion-list class="home-list ion-padding">
      <ion-list-header>
        {{ 'home.transactions' | translate}}
      </ion-list-header>
      <div *ngIf="tickets.length > 0">
        <app-transaction *ngFor="let ticket of tickets" [transaction]="ticket" (onVerify)="presentTransactionDetails(ticket)"></app-transaction>
      </div>
      <div class="home-list-no-data" *ngIf="tickets.length === 0">
        {{ 'home.no-data' | translate }}
      </div>
    </ion-list>
  </div>

  <div class="cupertino-pane">
    <div class="header" *ngIf="activeTransaction">
      <div class="header-start">
        <h1>{{ activeTransaction?.seller?.name }}</h1>
        <p>#{{ activeTransaction?.id }} - {{ activeTransaction?.date | date: 'dd/MM/yyyy HH:mm'}}</p>
      </div>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="body" hide-on-bottom overflow-y *ngIf="activeTransaction">
      <ion-list>
        <ion-list-header>
          <ion-label>{{ 'home.verify.products' | translate }}</ion-label>
        </ion-list-header>
        <ion-item lines="none" *ngFor="let item of activeTransaction?.products">
          <ion-label>{{ item.name }}</ion-label>
          <ion-note slot="end"> x{{ item.count }} </ion-note>
        </ion-item>
      </ion-list>
      <p class="ion-padding"> <b> {{'home.verify.total' | translate }}:</b> {{ activeTransaction?.total }}€ </p>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="scanQr()">
    <ion-fab-button>
      <ion-icon name="barcode-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>