.home {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-balance {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-item {
            & > h2 {
                margin: 0;
                font-size: 2.5rem;
                font-weight: 300;
            }
            & > p {
                margin: 0;
                color: var(--ion-color-step-500);
                font-size: 0.75rem;
                padding-left: 4px;
            }
        }

        &-add {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            & > ion-icon {
                padding: 8px;
                border-radius: 50%;
                background-color: var(--ion-color-step-100);
                font-size: 32px;

                &:active {
                    background-color: var(--ion-color-step-50);
                }
            }

            & > p {
                margin: 0;
                color: var(--ion-color-step-500);
                font-size: 0.75rem;
                padding-top: 4px;
            }
        }
    }

    &-list {
        display: flex;
        flex-direction: column;

        flex: 1;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: var(--ion-color-step-100);

        &-no-data {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--ion-color-step-800);
        }
    }
}

.cupertino-pane {
    font-family: var(--ion-font-family);

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 0 16px;

        &-start {
            display: flex;
            flex-direction: column;

            & > h1 {
                margin-bottom: 0;
            }

            & > p {
                margin-top: 4px;
                color: var(--ion-color-step-600, #666666);
                font-size: 14px;
            }
        }
    }

    & > .pane {
        background-color: var(--ion-color-step-100) !important;
    }
}